<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  <add key="github" value="https://nuget.pkg.github.com/wernervn/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="wernervn" />
      <add key="ClearTextPassword" value="%WVN_GITHUB_API_KEY%" />
    </github>
  </packageSourceCredentials>  
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="WVN.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
